#state-legend {
  /* background-color: #000; */
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
  font:
    12px/20px 'Helvetica Neue',
    Arial,
    Helvetica,
    sans-serif;
  padding: 10px;
}
#state-legend h4 {
  margin: 0 0 10px;
}
#state-legend div span {
  /* Include border-radius give a circle symbol; */
  /* border-radius: 50%; */
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
